.card {
  border     : 1px solid #e1e1e1;
  text-align : left;
  transition : 0.3s;
  /* overflow: auto; */
  max-width  : 100%;
  box-sizing : border-box;
  /* height  : 100%; */
}

.cardTitle {
  font-size    : 16px;
  font-weight  : bold;
  border-bottom: 1px solid #ccc;
  padding      : 11px 20px;
}

.el-form--inline .el-form-item.zSearchBtn {
  position    : absolute;
  right       : 0;
  bottom      : 0;
  margin-right: 0;
}

.minH100 {
  min-height         : calc(100vh - 30px);
  box-sizing         : border-box;
  padding            : 15px;
  /* background-color: #f2f2f2; */
}

.bgddf8f6 {
  background-color: #ddf8f6;
}

.fc42c5be {
  color: #42c5be;
}

.clearfix:after {
  content: " ";
  display: block;
  clear  : both;
  height : 0;
}

.clearfix {
  zoom: 1;
}

.mainTitle {
  margin-bottom: 15px;
  font-family  : PingFangSC-Regular;
  font-size    : 16px;
  color        : #666;
}

.intextarea .el-textarea__inner {
  height   : 64px !important;
  font-size: 14px;
}

textarea {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.userAdmin .el-button {
  line-height: 1;
}

/* 超出显示... */
.textOverflow {
  word-break   : break-all;
  text-overflow: ellipsis;
  overflow     : hidden;
  white-space  : nowrap;
  min-width    : 0
}

/* 超出两行显示...   注释部分不能删除*/
.textOverflow2 {
  text-overflow     : -o-ellipsis-lastline;
  overflow          : hidden;
  text-overflow     : ellipsis;
  display           : -webkit-box;
  -webkit-line-clamp: 2;
  /*! autoprefixer: off */
  line-clamp        : 2;
  -webkit-box-orient: vertical;
  word-break        : break-all;
}

.flex-wrap {
  display    : flex;
  align-items: center;
}

.flex1 {
  flex: 1;
}

.img-style {
  height: 100%;
  width : 100%;
}